# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('../../..', 'DAT-NYC-37', 'lessons', 'lesson-02', 'assets', 'dataset', 'ozone.csv'))

In [3]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [4]:
for column in data:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
data.iloc[:2] # or data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [6]:
len(data) # returns number of rows

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data[-2:] # or data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [8]:
data.loc[[46], ['Ozone']] # viewing 46th index with indexes beginning at 0 gives the 47th row

    Ozone
46   21.0

How many missing values are in the Ozone column of this data frame?

In [9]:
len(data) - data['Ozone'].count() # total rows - rows with Ozone data OR data['Ozone'].isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [10]:
data['Ozone'].mean(skipna=True) # data.Ozone returns series instead of dataframe object; series don't have columns

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [11]:
data[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean() # mean of Solar.R where Ozone > 31 & Temp > 90

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [12]:
data[data['Month'] == 6]['Temp'].mean() # mean of temp where Month == 6

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [13]:
data[data['Month'] == 5]['Ozone'].max() # maximum value where Month == 5

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas