# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv('../../lesson-02/assets/dataset/ozone.csv')
!pwd

/Users/gloriakwan/DAT-NYC-37/lessons/lesson-03/code

In [3]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [4]:
for value in data.columns.values:
    print value

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [6]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [8]:
data.iloc[46, 0]

21.0

How many missing values are in the Ozone column of this data frame?

In [9]:
data['Ozone'].value_counts(dropna = False)

NaN       37
 23.0      6
 13.0      4
 14.0      4
 16.0      4
 18.0      4
 20.0      4
 21.0      4
 32.0      3
 7.0       3
 9.0       3
 11.0      3
 28.0      3
 44.0      3
 64.0      2
 78.0      2
 30.0      2
 24.0      2
 73.0      2
 85.0      2
 97.0      2
 35.0      2
 45.0      2
 36.0      2
 37.0      2
 59.0      2
 39.0      2
 12.0      2
 91.0      1
 80.0      1
          ..
 10.0      1
 118.0     1
 8.0       1
 122.0     1
 6.0       1
 4.0       1
 1.0       1
 27.0      1
 34.0      1
 29.0      1
 50.0      1
 77.0      1
 76.0      1
 71.0      1
 66.0      1
 65.0      1
 63.0      1
 61.0      1
 52.0      1
 49.0      1
 31.0      1
 48.0      1
 47.0      1
 46.0      1
 135.0     1
 41.0      1
 40.0      1
 79.0      1
 82.0      1
 168.0     1
Name: Ozone, dtype: int64

In [10]:
data[['Ozone']].isnull().sum()

Ozone    37
dtype: int64

In [11]:
sum(data['Ozone'].isnull())

37

In [12]:
sum(data.Ozone.isnull())

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [13]:
data.mean(skipna=True)

Ozone       42.129310
Solar.R    185.931507
Wind         9.957516
Temp        77.882353
Month        6.993464
Day         15.803922
dtype: float64

In [14]:
data.mean(skipna=False)

Ozone            NaN
Solar.R          NaN
Wind        9.957516
Temp       77.882353
Month       6.993464
Day        15.803922
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [15]:
data[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean()

212.8

In [17]:
data[data['Ozone'] > 31]

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
16    34.0    307.0  12.0    66      5   17
23    32.0     92.0  12.0    61      5   24
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
30    37.0    279.0   7.4    76      5   31
39    71.0    291.0  13.8    90      6    9
40    39.0    323.0  11.5    87      6   10
47    37.0    284.0  20.7    72      6   17
61   135.0    269.0   4.1    84      7    1
62    49.0    248.0   9.2    85      7    2
63    32.0    236.0   9.2    81      7    3
65    64.0    175.0   4.6    83      7    5
66    40.0    314.0  10.9    83      7    6
67    77.0    276.0   5.1    88      7    7
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
70    85.0    175.0   7.4    89      7   10
76    48.0    260.0   6.9    81      7   16
77    35.0    274.0  10.3    82      7   17
78    61.0    285.0   6.3    84      7   18
79    79.0    187.0   5.1    87      7   19
80    63.0    220.0  11.5    85      7   20
84    80.0    294.0   8.6    86      7   24
85   108.0    223.0   8.0    85      7   25
87    52.0     82.0  12.0    86      7   27
88    82.0    213.0   7.4    88      7   28
89    50.0    275.0   7.4    86      7   29
90    64.0    253.0   7.4    83      7   30
91    59.0    254.0   9.2    81      7   31
92    39.0     83.0   6.9    81      8    1
95    78.0      NaN   6.9    86      8    4
96    35.0      NaN   7.4    85      8    5
97    66.0      NaN   4.6    87      8    6
98   122.0    255.0   4.0    89      8    7
99    89.0    229.0  10.3    90      8    8
100  110.0    207.0   8.0    90      8    9
103   44.0    192.0  11.5    86      8   12
105   65.0    157.0   9.7    80      8   14
108   59.0     51.0   6.3    79      8   17
111   44.0    190.0  10.3    78      8   20
115   45.0    212.0   9.7    79      8   24
116  168.0    238.0   3.4    81      8   25
117   73.0    215.0   8.0    86      8   26
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
133   44.0    236.0  14.9    81      9   11
138   46.0    237.0   6.9    78      9   16
145   36.0    139.0  10.3    81      9   23

In [46]:
data[data['Ozone'] > 31]

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
16    34.0    307.0  12.0    66      5   17
23    32.0     92.0  12.0    61      5   24
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
30    37.0    279.0   7.4    76      5   31
39    71.0    291.0  13.8    90      6    9
40    39.0    323.0  11.5    87      6   10
47    37.0    284.0  20.7    72      6   17
61   135.0    269.0   4.1    84      7    1
62    49.0    248.0   9.2    85      7    2
63    32.0    236.0   9.2    81      7    3
65    64.0    175.0   4.6    83      7    5
66    40.0    314.0  10.9    83      7    6
67    77.0    276.0   5.1    88      7    7
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
70    85.0    175.0   7.4    89      7   10
76    48.0    260.0   6.9    81      7   16
77    35.0    274.0  10.3    82      7   17
78    61.0    285.0   6.3    84      7   18
79    79.0    187.0   5.1    87      7   19
80    63.0    220.0  11.5    85      7   20
84    80.0    294.0   8.6    86      7   24
85   108.0    223.0   8.0    85      7   25
87    52.0     82.0  12.0    86      7   27
88    82.0    213.0   7.4    88      7   28
89    50.0    275.0   7.4    86      7   29
90    64.0    253.0   7.4    83      7   30
91    59.0    254.0   9.2    81      7   31
92    39.0     83.0   6.9    81      8    1
95    78.0      NaN   6.9    86      8    4
96    35.0      NaN   7.4    85      8    5
97    66.0      NaN   4.6    87      8    6
98   122.0    255.0   4.0    89      8    7
99    89.0    229.0  10.3    90      8    8
100  110.0    207.0   8.0    90      8    9
103   44.0    192.0  11.5    86      8   12
105   65.0    157.0   9.7    80      8   14
108   59.0     51.0   6.3    79      8   17
111   44.0    190.0  10.3    78      8   20
115   45.0    212.0   9.7    79      8   24
116  168.0    238.0   3.4    81      8   25
117   73.0    215.0   8.0    86      8   26
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
133   44.0    236.0  14.9    81      9   11
138   46.0    237.0   6.9    78      9   16
145   36.0    139.0  10.3    81      9   23

In [47]:
sum(data['Ozone'] > 31)

58

What is the mean of "Temp" when "Month" is equal to 6?

In [50]:
data[data['Month'] == 6]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [52]:
data[data['Month'] == 5]['Ozone'].max()

115.0

In [ ]:
data.sort_index?

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas